img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */

.product-display {
  position: relative;
  width: 100%;
}

.product {
  margin-top: 20px;
  margin: 0 126px;
}

/* Hide the images by default */

.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.product-row {
  width: 400px;
  margin-bottom: 10px;
  border-bottom: 2px solid #cccccc;
  height: 30px;
}

.line-wrapper {
  display: flex;
}

.icon {
  margin-right: 10px;
  color: #9a9a9a;
  filter: contrast(0);
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */

.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */

.demo {
  opacity: 0.6;
}

.active, .demo:hover {
  opacity: 1;
}

.product-detail {
  margin-left: 50px;
  margin-top: 7%;
}

.head-text-label {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.head-price-label {
  font-size: 30px;
  font-weight: bold;
}

.detail-wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.product-wrapper {
  display: flex;
  width: 100%;
}

.spec-table {
  width: 70%;
}

.spec-text-topic {
  font-size: 24px;
  font-weight: bold;
}

.spec-detail {
  margin-top: 20px;
}

.head-topic-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.head-spec-label {
  font-size: 24px;
}

.update-car-text {
  font-size: 14px;
  color: #9a9a9a
}

.spec-info {
  color: #9a9a9a;
}