.site-nav-item {
  border-bottom: 1px solid #cccccc;
}
.site-search{
  background-color : #f78121;
  
}

.search {
  width: 99%;
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #cccccc;
  border-radius: 5px;
}

.site-nav-item:hover {
  background-color: #f78121;
  border-radius: 5px;
}
.site-end:hover {
  background-color: #f78121;
  border-radius: 5px;
}
.sub-nav {
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #ffffff;
}

label {
  margin: 0;
}
.navigation {
  background-color: rgb(255, 255, 255);
  width: 15vw;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 50px;
}

.navigation ul,
.navigation ul li,
.navigation ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation ul {
  position: relative;
  z-index: 500;
  float: left;
}

.navigation ul li {
  float: left;
  min-height: 0.05em;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
}

.navigation ul li.hover,
.navigation ul li:hover {
  position: relative;
  z-index: 510;
  cursor: default;
}

.navigation ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 520;
  width: 100%;
}

.navigation ul ul li { float: none; }

.navigation ul ul ul {
  top: 0;
  right: 0;
}

.navigation ul li:hover > ul { visibility: visible; }

.navigation ul ul {
  top: 0;
  left: 99%;
}

.navigation ul li { float: none; }

.navigation ul ul { margin-top: 0.05em; }

.navigation {
  width: 13em;
  background: #ffffff;
  font-size: 14px;
  font-weight: normal;
  height: 100%;
}

.navigation:before {
  content: '';
  display: block;
}

.navigation:after {
  content: '';
  display: table;
  clear: both;
}

.navigation label {
  display: block;
  padding: 10px 0 10px 20px;
  color: #ffffff;
  text-decoration: none;
}

.navigation > ul { width: 13em; }

.navigation ul ul { width: 13em; }

.navigation > ul > li > label {
  color: #000000;
}

.navigation > ul > li > label:hover { color: #000000; }

.navigation > ul > li label:hover,
/* .navigation > ul > li:hover label { background: #cccccc; } */

.navigation li { position: relative; }

.site-nav {
  border-bottom: 1px solid #cccccc;
}

.site-nav:hover {
  background-color: #f78121;
}

.navigation ul li.site-nav > label:after {
  /* content: '>'; */
  position: absolute;
  right: 1em;
}

.navigation ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}

.navigation ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}

.navigation ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}


.navigation ul ul label { color: #000000; }

.navigation ul ul label:hover { color: #000000; }


.navigation ul ul li:hover > label {
  background: #cccccc;
  color: #000000;
}

.navigation.align-right > ul > li > label {
  border-right: none;
}

.navigation.align-right { float: right; }

.navigation.align-right li { text-align: right; }

.navigation.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
}

.navigation.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}

.navigation.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}

.navigation.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}